@tailwind base;
@tailwind components;
@tailwind utilities;


html, body, #root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

@layer base {
  @import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Pacifico&display=swap");

  body {
    @apply bg-gray-100 dark:bg-gray-900 transition-colors duration-200;
  }

  .dark body {
    @apply text-gray-100;
  }

  .dropdown {
    @apply w-12 lg:max-w-[296px] cursor-pointer;
  }

  .dropdown-btn {
    @apply flex h-[64px] items-center px-[18px] border rounded-lg;
  }

  .dropdown-icon-primary {
    @apply text-2xl mr-[18px] text-violet-700;
  }

  .dropdown-icon-secondary {
    @apply text-2xl text-violet-700 ml-auto;
  }

  .dropdown-menu {
    @apply px-6 py-8 text-[15px] space-y-6 shadow-md bg-white dark:bg-gray-800 absolute w-10 list-none rounded-b-lg;
  }

  /* Leaflet marker fix */
  .leaflet-container {
    height: 100%;
    width: 100%;
  }

  .leaflet-popup-content {
    min-width: 150px; /* Optional: Adjust the minimum width of the popup */
  }
  
  /* Dark mode styles for common components */
  .dark .ant-card {
    @apply bg-gray-800 text-gray-100;
  }
  
  .dark .ant-result {
    @apply bg-gray-800 text-gray-100;
  }
  
  .dark .ant-result-subtitle {
    @apply text-gray-300;
  }
  
  .dark .ant-empty-description {
    @apply text-gray-300;
  }
  
  .dark .ant-table {
    @apply bg-gray-800 text-gray-100;
  }
  
  .dark .ant-table-thead > tr > th {
    @apply bg-gray-700 text-gray-100;
  }
  
  .dark .ant-pagination-item {
    @apply bg-gray-700;
  }
  
  .dark .ant-pagination-item a {
    @apply text-gray-300;
  }
  
  .dark .ant-pagination-item-active {
    @apply border-violet-600;
  }
  
  .dark .ant-pagination-item-active a {
    @apply text-violet-400;
  }
}
